body {
    font-family: Helvetica, arial, sans-serif;
    margin: 0px 0px;
    padding: 0;
    background-color: #1F2937;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

/* HEADER STYLES */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

.header .container {
    display: flex;
    gap: 50px;
    align-items: center;
}

.header .container > p{
    font-weight: 900;
    color: #F9FAF8;
    font-size: 24px;
}

ul {
    display: flex;
    color: #E5E7EB;
    gap: 18px;
    font-size: 18px;
    list-style-type: none;
}

/* SECTION 1 STYLES */

.section1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1 .content {
    display: flex;
    width: 60%;
    max-width: 1000px;
    min-width: 700px;
    gap: 100px;
    padding-bottom: 80px;
}

.section1 h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: -10px;
}

.section1 p {
    font-size: 18px;
    color: #E5E7EB;
}

.section1 button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    margin-right: auto;
    padding: 6px 20px;
    font-weight: bold;
    border: none;
}

.section1 img {
    height: 250px;
    max-height: 250px;
    margin: auto;
    border-radius: 5px;
}

/* SECTION 2 STYLES */

.section2 {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    padding-bottom: 120px;
}

.section2 .images {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.section2 .image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
    text-align: center;

}

.section2 h1 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.section2 p {
    max-width: 200px;
    color: #1F2937;
}

.section2 img {
    max-height: 150px;
}

/* SECTION 3 STYLES */

.section3 {
    background-color: #E5E7EB;
    padding: 80px;
}

.section3 .container {
    margin: auto;
    max-width: 800px;
    padding: 5px;
}

.section3 i {
    font-size: 36px;
    font-weight: 100;
    color: #1F2937;
}

.section3 p {
    font-size: 24px;
    font-weight: bold;
    width: fit-content;
    margin-left: auto;
}